*{
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root{
    --blue: #1f0adb;
    --green: #28bc34;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #eee;
    padding: 1em;
    display: flex;
    min-height: 100vh;
    justify-content: center ;
    font-size: 14px;
}


h2,h4{
    font-size: 1.3em;
    color: #000000d6;
    font-weight: 700;
}
h4{
    font-size: 1em;
}
.wrapper{
    width: 600px;
    flex: 0 1 auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.card{
    background-color: #fff;
    border: 1px solid #ddddddba;
    border-radius: 0.8em;
    padding: 1.5em 1em;
}
.card-inline{
    display: grid;
    margin-block: 1em;
    grid-template-columns: repeat(auto-fill,minmax(120px, 1fr));
    gap: 1em;
}
.card-inline > div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 1em;
}
.card-inline > div p{
    font-size: .85em;
}
.card-inline > div h5{
    font-size: 1em;
    color: #000000d6;
}
.card-inline span{

}
.card-inline span.filled{

}
.line{
    margin-top: .8em;
    width: 100%;
    height: .5em;
    position: relative;
    border-radius: .8em;
    overflow: hidden;
    background-color: #ddddddba;
}
.line span{
    --l: 40%;
    height: 100%;
    width: var(--l);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: .8em;
    background-color: var(--blue);
}
.timelines{
    margin-top: .5em;
    display: flex;
    flex-direction: column;
    gap: .8em;
    border-left: 1px solid #c6c6c6d6;
    margin-left: 1em;
}
.timelines .check{

    width: 14px;
    height: 14px;
    display: flex;
    background-color: var(--blue);
    border-radius: 20px;
    position: absolute;
    left: -7px;
}
.timeline{
    position: relative;
    padding-left: 1.5em;
}
.card.blue{
    background-color: #0087f52f;
    display: flex;
    align-items: flex-start;
    gap: .7em;
}
.blue .icon{
    display: flex;
    height: 2em;
    width: 2em;
    object-fit: contain;
    /* border-radius: 2em; */
    /* background-color: var(--blue); */
    flex: 0 0 auto;
}
.tab{
    display: flex;
    flex-direction: column;
    gap: 1em;

}
button{
    border-radius: .5em;
    padding: .5em 1em;
    display: inline-flexbox;
    margin-top: .3em;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
}
.blue button{
    color: #fff;
    background-color: var(--blue);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hide{
    display: none;
}