*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --primary-color: #3064e8;
  --background-color: #faf8f6;
  --text-color: #121212;
  --progress-bar-color: #d9d9d9;
  font-family: 'Inter', sans-serif;
}
body{
    background-color: var(--background-color);
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  background-color: var(--background-color);
  padding: 21px 120px 30px;
  width: 1440px;
}
.check-list-progress-bar{
    color: #0365FA;
}
.profile-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.profile-top-left {
  display: flex;
  align-items: center;
  gap: 5px;
}
.profile-top-left > div > img {
  width: 40px;
}
.profile-top-left h1 {
  font-size: 20px;
  font-weight: 600;
}
.profile-top-left p {
  font-size: 16px;
  font-weight: 400;
}
.profile-top-right {
  font-size: 10px;
  text-align: right;
}
.check-list-container {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
  margin-bottom: 10px;
  margin-top: 20px;
}
.progress {
  width: 100%;
  /* border-radius: 10px; */
  accent-color: var(--primary-color);
}
.check-list-group-num {
  width: 35px;
  border-radius: 100%;
  padding: 5px 10px;
  font-size: 12px;
  margin-right: 5px;
  color: white;
}
.check-list-group {
  display: flex;
  align-items: center;
  gap: 5px;
}
.check-list-group hr {
  width: 100px;
  height: 3px;
  background-color: #d9d9d9;
}
.active {
  background-color: #37B34A;
}
.inActive {
  background-color: #d9d9d9;
}
.cont-div{
    margin-top: -20px;
}
/* Team Members */
.team-members-tab{
    display: flex;
    flex-direction: column;
    width: 949px;
    margin: 52px 256px;
    padding: 20px;
    background-color: #ffff;
}
.meet-team{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}
.team-paragraph{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 47px;
}
.manager-text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
.team-members-card{
    display: flex;
    gap: 16px;
    padding: 20px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}
.team-members-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.team-members-info h2{
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
.team-members-info h3{
    font-size: 14px;
    font-weight: 400;
}
.team-members-info h5{
    font-size: 12px;
    font-weight: 400;
}
.team-members-info p{
    font-size: 14px;
    font-weight: 400;
}
.manager-label{
  position: absolute;
  margin: 8px 627.5px 16px ;
  color: #0365FA; 
  font-size: 12px;
  /* width: 57px; */
  font-weight: 400;
  border-radius: 4px;
  background: rgba(3, 101, 250, 0.15);
}
.contact-button{
    display: flex;
    gap: 17px;
}
.ph{
   font-size: 24px;
}
.button{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    color: #FFF;
    background: #0365FA;   
    height: 44px;
}
.chat{
    width: 90px;
}
.mail{
    width: 94px;
}
.your-team{
    margin: 47px 0px 8px;
    font-size: 20px;
    font-weight: 500;
}
/* other team members */
.subordinate{
    width: 443px;
}
.other-members-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}
.end-btns{
    margin: 42px 0px;
    width: 909px;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    display: flex;
    padding: 10px 16px;
    font-size:16px ;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: none;
}
.save{
    width: 204px;
    background: #D9D9D9;
}
.next{
    background-color: #0365FA;
    width: 125px;
    color: #FFF;
}
.back{
    background: transparent;
    color: #000;
}