* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #3064e8;
  --background-color: #faf8f6;
  --text-color: #121212;
  --progress-bar-color: #d9d9d9;
  font-family: 'Inter', sans-serif;
}
body {
  background-color: var(--background-color);
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  overflow-x: none;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color);
  padding: 21px 120px 30px;
  width: 100vw;
}
.check-list-progress-bar {
  color: #0365fa;
}
.profile-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.profile-top-left {
  display: flex;
  align-items: center;
  gap: 5px;
}
.profile-top-left > div > img {
  width: 40px;
}
.profile-top-left h1 {
  font-size: 20px;
  font-weight: 600;
}
.profile-top-left p {
  font-size: 16px;
  font-weight: 400;
}
.profile-top-right {
  font-size: 10px;
  text-align: right;
}
.check-list-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 20px;
}
.progress {
  width: 100%;
  accent-color: var(--primary-color);
}
.check-list-group-num {
  width: 35px;
  border-radius: 100%;
  padding: 5px 10px;
  font-size: 12px;
  margin-right: 5px;
  color: white;
}
.check-list-group {
  display: flex;
  align-items: center;
  gap: 5px;
}
.check-list-group hr {
  width: 100px;
  height: 3px;
  background-color: #d9d9d9;
}
.active {
  background-color: var(--primary-color);
}
.inActive {
  background-color: #d9d9d9;
}
.completed {
  background-color: #37b34a;
}
.cont-div {
  margin-top: -20px;
}

/* Quiz section container section */
.quiz-container {
  background-color: white;
  width: 837px;
  border-radius: 20px;
  margin: 45px auto;
  padding: 20px;
}
.task-upload {
  color: #0365fa;
}
.task {
  padding: 10px 15px;
  width: 700px;
  border-radius: 10px;
}
.complete-task {
  border: 2px solid #37b34a;
  background-color: rgba(55, 179, 74, 0.08);
  margin: 25px auto 10px auto;
}
.InComplete {
  border: 2px solid #9c9c9c;
  margin: 0 auto 10px auto;
}
.task-top {
  display: flex;
  justify-content: space-between;
}
.hand-book {
  padding-left: 15px;
  text-decoration: line-through;
}
.task-header {
  padding-left: 15px;
}
.policy {
  background-color: rgba(3, 101, 250, 0.15);
  fill-opacity: 15%;
  padding: 3px 5px;
  border-radius: 5px;
  color: var(--primary-color);
}
.review-due {
  margin-top: 5px;
  padding-left: 25px;
}
.review-due p {
  color: #9c9c9c;
  font-size: 14px;
}
.due {
  display: flex;
  gap: 15px;
  margin-top: 5px;
  font-size: 14px;
}
.complete {
  color: #37b34a;
}
.stay-on-track {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #f5f5f5;
}
.stay-on-track {
  display: flex;
  gap: 20px;
  align-items: center;
}
.stay-on-track-header {
  color: #121212;
  font-size: 16px;
  margin-bottom: 10px;
}
.stay-on-track-text {
  font-size: 14px;
}
.ph-calendar-blank {
  font-size: 30px;
}
/* task-check-list-btns */
.task-check-list-btns {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}
.back {
  text-decoration: none;
  color: #121212;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
  padding: 15px 10px;
}
.save {
  background-color: #d9d9d9;
  border-radius: 8px;
  color: #121212;
  text-decoration: none;
  padding: 15px 10px;
  font-size: 16px;
  font-weight: 500;
}
.next {
  width: 125px;
  background-color: var(--primary-color);
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  padding: 15px 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
