* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #3064e8;
  --background-color: #faf8f6;
  --text-color: #121212;
  --progress-bar-color: #d9d9d9;
  font-family: 'Inter', sans-serif;
}
body {
  background-color: var(--background-color);
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  background-color: var(--background-color);
  padding: 21px 120px 30px;
  width: 1440px;
}
.check-list-progress-bar {
  color: #0365fa;
}
.profile-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.profile-top-left {
  display: flex;
  align-items: center;
  gap: 5px;
}
.profile-top-left > div > img {
  width: 40px;
}
.profile-top-left h1 {
  font-size: 20px;
  font-weight: 600;
}
.profile-top-left p {
  font-size: 16px;
  font-weight: 400;
}
.profile-top-right {
  font-size: 10px;
  text-align: right;
}
.check-list-container {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
  margin-bottom: 10px;
  margin-top: 20px;
}
.progress {
  width: 100%;
  /* border-radius: 10px; */
  accent-color: var(--primary-color);
}
.check-list-group-num {
  width: 35px;
  border-radius: 100%;
  padding: 5px 10px;
  font-size: 12px;
  margin-right: 5px;
  color: white;
}
.check-list-group {
  display: flex;
  align-items: center;
  gap: 5px;
}
.check-list-group hr {
  width: 100px;
  height: 3px;
  background-color: #d9d9d9;
}
.active {
  background-color: #37b34a;
}
.inActive {
  background-color: #0365fa;
}
.cont-div {
  margin-top: -20px;
  margin-bottom: 50px;
}

/* congras section */
.congras {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 876px;
}
.congras-content {
  width: 630px;

  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checker {
  background-color: #37b34a;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-bottom: 20px;
}
.checker i {
  font-size: 55px;
  color: white;
}
.onboard-comple {
  text-align: center;
  padding-bottom: 10px;
  color: #000000;
}
.onboard-comple h2 {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 15px;
}
.onboard-comple p {
  font-size: 16px;
  font-weight: 400;
  width: 455px;
  padding-bottom: 15px;
}
.what-is-next {
  background-color: #dbe2f2;
  padding: 20px;
  border-radius: 20px;
}
.title {
  text-align: center;
  padding-bottom: 30px;
}
.what-is-next-text {
  margin-bottom: 30px;
}
.what-is-next-num {
  background-color: #0365fa;
  padding: 5px 10px;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  margin-right: 10px;
}
.go-to-workspace {
  background-color: #0365fa;
  width: 480px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 25px;
}
.weekschedule {
  background-color: #e6eaee;
  width: 480px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: #141b34;
  margin-top: 15px;
}
.workspace-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.workspace-btn {
  padding-left: 10px;
}
.workspace-btn a {
  color: #fff;
  text-decoration: none;
}
.hr-contact {
  padding-top: 15px;
  margin-bottom: 40px;
}
.hr-email {
  color: #0365fa;
}
