* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #faf8f6;
}
.wlcm-logo {
  margin-left: 275.5px;
}
.welcome-card {
  width: 680px;
  height: 795px;
  background-color: rgba(255, 255, 255, 1);
  margin: 128px 380px;
  padding: 20px 30px;
}
.welcome-card h3 {
  width: 620px;
  height: 60px;
  font-size: 40px;
  font-weight: 700;
  font-family: poppins;
  text-align: center;
  margin-top: 28px;
}
.welcome-card p {
  width: 620px;
  height: 60px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-weight: 400;
  font-family: inter;
  margin-top: 28px;
}
.expect-card {
  width: 582px;
  height: 302px;
  border-radius: 20px;
  margin-top: 28px;
  padding: 20px;
  margin-left: 20px;
  background: rgba(219, 226, 242, 0.53);
}
.expect-card h5 {
  width: 545px;
  height: 30px;
  font-size: 20px;
  font-weight: 400;
  font-family: inter;
  text-align: center;
}
.list {
  width: 552px;
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  height: 30px;
}
.list p {
  height: 30px;
  text-align: start;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin-left: 10px;
  font-family: inter;
}
.ph-fill {
  font-size: 30px;
  color: rgb(3, 101, 250, 1);
  margin: 28px 0px 10px 0px;
}
.wlcm-btn-ctn {
  display: flex;
  flex-direction: column;
  width: 565px;
  margin-left: 30px;
  align-items: center;
  justify-content: center;
}
.wlcm-btn-ctn a {
  margin: 28px 220px 28px;
  padding: 16px 24px;
  width: 192px;
  height: 62px;
  background-color: rgb(3, 101, 250, 1);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: inter;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.wlcm-btn-ctn a:hover {
  background-color: #1f4a8b;
}
.ph {
  color: #0375fa;
  font-size: 24px;
}
.footer-contact {
  display: flex;
  align-items: center;
  width: 189px;
  gap: 6px;
  margin-top: 30.5px;
  margin-left: 133.5px;
}
.footer-contact h6 {
  font-size: 16px;
  color: #0365fa;
  font-weight: 400;
  font-family: inter;
}
.footer-phone {
  margin-left: 349.5px;
  margin-top: -24px;
}
.help-text {
  height: 19px;
  width: 620px;
  font-size: 16px;
  font-weight: 500;
  font-family: inter;
  text-align: center;
  align-self: stretch;
}
